@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  .primary-light {
    color: rgb(46, 192, 255);
  }
  .primary-dark {
    color: rgb(152, 185, 220);
  }
  .secondary-light {
    color: rgb(247, 130, 130);
  }
  .secondary-dark {
    color: rgb(220, 168, 188);
  }
  :root {
    --color-primary-light: 46 192 255;
    --color-primary-dark: 152 185 220;
    --color-secondary-light: 247 130 130;
    --color-secondary-dark: 220 168 188;
    --border-color-default-light: #cccccc;
    --border-color-default-dark: rgba(160, 160, 160, 0.1);
    --background-color-paper-light: 255 255 255;
    --background-color-paper-dark: 9 24 26;
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-primary-contrast: #000000;
    --color-secondary-contrast: #000000;
    --color-error-contrast: #ffffff;
    --color-hint: rgba(0, 0, 0, 0.38);
    --color-text-primary: rgba(0, 0, 0, 0.87);
    --color-text-secondary: rgba(0, 0, 0, 0.6);
    --color-error: 220 38 38;
    --background-color-paper: var(--background-color-paper-light);
    --background-color-default: 250 250 250;
    --background-color-disabled: 220 220 220;
    --border-color-default: #cccccc;
    --action-hover: 196 196 196;
    --background-color-tag: rgba(0, 0, 0, 0.1);
  }
  :root[class~='dark'] {
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-primary-contrast: #000000;
    --color-secondary-contrast: #000000;
    --color-error-contrast: #000000;
    --color-text-primary: #ffffff;
    --color-text-secondary: rgba(255, 255, 255, 0.7);
    --color-hint: rgba(255, 255, 255, 0.5);
    --color-error: 252 165 165;
    --background-color-paper: var(--background-color-paper-dark);
    --background-color-default: 7 17 19;
    --background-color-disabled: 16 42 45;
    --border-color-default: rgba(160, 160, 160, 0.1);
    --background-color-tag: rgba(255, 255, 255, 0.1);
    --action-hover: 196 196 196;
  }
  .text-variant-header {
    @apply text-xl font-bold;
  }
  .text-variant-header-emphasized {
    @apply text-3xl font-bold;
  }
  .text-variant-body {
    @apply text-base font-normal;
  }
  .text-variant-button {
    @apply text-sm font-medium;
  }
  .text-variant-sm-label {
    @apply text-sm font-normal tracking-tight;
  }
  .text-variant-list-header {
    @apply text-sm font-medium;
  }
  .text-variant-sm-badge {
    @apply text-xs font-bold;
  }
  .text-variant-book-title {
    @apply md:text-sm font-medium text-xs tracking-tight md:tracking-normal;
  }

  .skeleton {
    @apply dark:bg-gray-700 bg-gray-300 animate-pulse;
  }
}
